# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual env
venv/
.env/
.venv/

# -----------------------------
# Docker
# -----------------------------
# Avoid committing local-only override files
docker-compose.override.yml

# -----------------------------
# Environment files
# -----------------------------
.env
*.env

# -----------------------------
# Logs
# -----------------------------
*.log
logs/
log/

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Editor settings
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Byte-compiled / cache
# -----------------------------
*.sqlite3
*.db
